{% extends "layout.html" %}
{% block body %}

<form class="form-horizontal" method="POST" action="{% url 'device:changepassword' %}" id="changepassword">
  {% csrf_token %}
  <fieldset>
      <legend>修改密码</legend>

	  <div class="control-group">
        <label class="control-label" for="now_pass">原始密码</label>
        <div class="controls">
          <input type="password" id="now_pass" placeholder="原始密码" name="now_pass" >
        </div>
      </div>

	  <div class="control-group">
        <label class="control-label" for="new_pass">新密码</label>
        <div class="controls">
          <input type="password" id="new_pass" placeholder="新密码" name="new_pass" >
        </div>
      </div>
	  
	  <div class="control-group">
        <label class="control-label" for="new_pass_confirm">确认新密码</label>
        <div class="controls">
          <input type="password" id="new_pass_confirm" placeholder="确认新密码" name="new_pass_confirm" >
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">提交</button>
        </div>
      </div>

    </fieldset>
</form>
<script type="text/javascript">
	seajs.use('jquery',function(){
		$("#changepassword").submit(function(){
			if( ($("#now_pass").val().length == 0) ||($("#new_pass").val().length == 0) || ($("#new_pass_confirm").val().length == 0) ){
				alert("所有项目都是必填的！");
				return false;
			}
			if($("#new_pass").val() != $("#new_pass_confirm").val()){
				alert("确认密码输入不一致！");
				return false;
			}
		});
	})
</script>
{% endblock %}