{% extends "layout.html" %}
{% block body %}
{% csrf_token %}
<div class="row search">
	<div class="span12">
		<form id="search-form">
			<div class="input-prepend">
  	    		<span class="add-on"><i class="icon-search"></i></span>
  	    		<input class="span2" id="search_word" type="text" name="search_word">
  	  		</div>
		</form>
	</div>
</div>
<div class="row search-result">
	<div class="span12 well">
		<div class="close"><i class="icon-remove"></i></div>
		<ul id="search-result">
		</ul>
	</div>
</div>
<div class="row show">
	<div class="well span3" id="equ_cata_container">
		<header class="nav-header">
			设备分类
		</header>
		<ul class="nav nav-list nav-stacked" id="equ_cata">
		{% for cata in cataList %}
        	<li data-id="{{ cata.id }}"><a>{{ cata.name }}<i class="icon-remove remove"></i></a></li>
        {% endfor %}
		</ul>
	</div>

	<div class="well span4" id="equ_class_container">
		<header class="nav-header">
			设备型号
		</header>
		<ul class="nav nav-list nav-stacked" id="equ_class">
		</ul>
	</div>

	<div class="well span4" id="equ_instance_container">
		<header class="nav-header">
			该型号设备
		</header>
		<ul class="nav nav-list nav-stacked" id="equ_instance">

		</ul>
	</div>
</div>

<div class="row" id="show_detail">
	<div class="span12 well show_detail">
		<header class="clearfix">
			<h3 class="title">设备详情</h3>
			<div class="close"><i class="icon-remove"></i></div>
		</header>
		<div class="onmaintain alert alert-error">
				设备维修中！
		</div>
		<div class="isscrap alert alert-error">
				设备已报废！
		</div>
		<div class="detail_container">
			<table id="detail" class="table table-bordered">
			<input type="hidden" id="detial_id"/>
				<thead>
					<tr>
						<td>设备分类</td>
						<td>设备型号</td>
						<td>编码</td>
						<td>序列号</td>
						<td>购入(调拨)时间</td>
						<td>安装(存放)地点</td>
						<td>单价</td>
						<td>管理人</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span data-place="devcata"></span></td>
						<td><span data-place="devtype"></span></td>
						<td><span data-place="code"></span></td>
						<td><span data-place="serial"></span></td>
						<td><span data-place="addtime"></span></td>
						<td><span data-place="place"></span></td>
						<td><span data-place="price"></span></td>
						<td><span data-place="manager"></span></td>
					</tr>
				</tbody>
			</table>
			<div class="detail_control clearfix">
				<a href="#scrap" id="scrap_button" role="button" class="btn btn-danger" data-toggle="modal">报废</a>
				<a href="#maintain" id="maintain_button" role="button" class="btn btn-primary" data-toggle="modal">维修</a>
				<a href="#maintain_back" id="maintain_back_button" class="btn btn-primary" data-toggle="modal">设备返回</a>
			</div>

			<div class="detail_log" id="scrap_log">
				<header>
					<h6>报废信息</h6>
				</header>
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>报废时间</td>
							<td>服务年限</td>
							<td>残值</td>
							<td>审批人</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			
			<div class="detail_log" id="detail_log">
				<header>
					<h6>维修记录</h6>
				</header>
				<input type="hidden" id="maintain_id"/>
				<table class="table table-bordered">	
					<thead>
						<tr>
							<td>送修时间</td>
							<td>维修部位</td>
							<td>维修价格</td>
							<td>是否在保修范围内</td>
							<td>返回时间</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div id="control_modal">
<div id="maintain" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="maintainLabel">维修设备</h3>
  </div>
  <div class="modal-body">
    <p><span>送修时间</span><input type="text" id="maintain_time"></p>
    <p><span>维修部件</span><input type="text" id="maintain_part"></p>
    <p><span>维修价格</span><input type="text" id="maitain_price"></p>
    <p>
    	<span>是否在保修期内</span>
    	<div style="line-height:27px;">
    		<input name="warranty" type="radio" value="1">是
    		<input name="warranty" type="radio" value="0">否
    	</div>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary submit">送修</button>
  </div>
</div>

<div id="maintain_back" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="maintainLabel">维修设备</h3>
  </div>
  <div class="modal-body">
    <p><span>返回时间</span><input type="text" id="maintain_back_time"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary submit" id="maintain_back_submit_button">返回设备</button>
  </div>
</div>

<div id="scrap" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="scrapLabel">设备报废</h3>
  </div>
  <div class="modal-body">
  	<p><span>报废时间</span><input type="text" id="scrap_time"></p>
    <p><span>服务年限</span><input type="text" id="scrap_service_life"></p>
    <p><span>残值</span><input type="text" id="scrap_salvage" ></p>
    <p><span>审批人</span><input type="text" id="scrap_approver"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary" id="scrap_submit_button">报废</button>
  </div>
</div>
</div>
<script type="text/javascript">
	seajs.use(["jquery","jxnu/monitor"],function(s,m){
		$(function(){
			m.removeListen();
		});
	});
</script>
{% endblock %}